<ion-header>
  <ion-navbar *ngIf="isUser && !isAdmin">
    <ion-title>Inserir Médico</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="isAdmin">
    <ion-segment [(ngModel)]="insert">
      <ion-segment-button value="doctor" *ngIf="isUser">
        Médico
      </ion-segment-button>
      <ion-segment-button value="user" *ngIf="isAdmin">
        Usuário
      </ion-segment-button>
      <ion-segment-button value="region" *ngIf="isAdmin">
        Região
      </ion-segment-button>
      <ion-segment-button value="specialty" *ngIf="isAdmin">
        Especialidade
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div [ngSwitch]="insert">
    <ion-list *ngSwitchCase="'doctor'">
      <form-doctor></form-doctor>
    </ion-list>
    <ion-list *ngSwitchCase="'user'">
      <form-user></form-user>
    </ion-list>
    <ion-list *ngSwitchCase="'region'">
      <form-region></form-region>
    </ion-list>
    <ion-list *ngSwitchCase="'specialty'">
      <form-specialty></form-specialty>
    </ion-list>
  </div>
</ion-content>