<ion-header>
  <ion-navbar>
    <ion-title>Médicos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let doctor of doctors">
      <ion-item>
        {{ doctor.firstName }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only (click)="showDetails(doctor)">
          <ion-icon name="eye"></ion-icon>
        </button>
        <button color="danger" *ngIf="isUser" ion-button icon-only (click)="presentConfirm(doctor.id, doctor.firstName)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <h6 [hidden]="doctors.length > 0" text-center>
    <ion-icon name="warning" icon-start></ion-icon>
    Não Existem Médicos cadastrados.
  </h6>
</ion-content>